/* Error: Undefined variable.
 *    ,
 * 17 |     color: $light-color;
 *    |            ^^^^^^^^^^^^
 *    '
 *   scss\sections\left-side.scss 17:12  @import
 *   scss\home.scss 1:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 17 \2502      color: $light-color;\d\a    \2502             ^^^^^^^^^^^^\a    \2575 \a   scss\\sections\\left-side.scss 17:12  @import\a   scss\\home.scss 1:9                  root stylesheet";
}
